<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../vuejs/vuejs-2.5.16.js"></script>
    <script type="text/javascript" src="../vuejs/axios-0.18.0.js"></script>
</head>
<body>
    <div id="deptdiv">
        <div id="deptlistdiv">
            <table border="1" rules="all" align="center">
                <tr>
                    <td colspan="100">
                        按照名称：<input type="text" v-model="searchEntity.deptname"/>
                        <input type="button" value="检索" @click="getDeptListConn()">
                    </td>
                </tr>
                <tr bgcolor="#ffc0cb" align="center">
                    <th>编号</th>
                    <th>名称</th>
                    <th colspan="100">操作</th>
                </tr>
                <tr v-for="d in deptlist" align="center">
                    <td>{{d.id}}</td>
                    <td>{{d.deptname}}</td>
                    <td>
                        <button>删除</button>
                        <button @click="toDeptPost(d.id)">选择职位</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="100">
                        当前{{page.currentPage}}/{{page.pageCount}}页;
                        <button @click="paging(1)">首页</button>
                        <button @click="paging(page.previousPage)">上一页</button>
                        <button @click="paging(page.nextPage)">下一页</button>
                        <button @click="paging(page.pageCount)">尾页</button>
                    </td>
                </tr>
            </table>
        </div>
        <div id="deptpostdiv" style="display:none;">
            <table border="1" rules="all" align="center">
                <tr align="center">
                    <td colspan="100">
                        <h1>目前正在给--{{entity.deptname}}--部门分配职位</h1>
                    </td>
                </tr>
                <tr align="center">
                    <td>
                        职位
                    </td>
                    <td>
                        <span v-for="p in plist">
                            <input type="checkbox" v-model="postids" v-bind:value="p.id"/>{{p.postname}}<br>
                        </span>
                    </td>
                </tr>
                <tr align="center">
                    <td colspan="100">
                        <button @click="saveDeptPost()">保存</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script type="text/javascript" src="../myjs/dept_list.js"></script>
</html>
